@font-face {
    font-family: SFPro;
    src: url(./../res/bold.otf);
}

@font-face {
    font-family: SFPro-SemiBold;
    src: url(./../res/semibold.otf);
}

@font-face {
    font-family: SFPro-Regular;
    src: url(./../res/regular.otf);
}

@font-face {
    font-family: anton;
    src: url(./../res/anton.ttf);
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

:root, html, body {
    width: 100%; 
    height: 100%; 
    background-color: black;
}

model-viewer {
    width: 100%; 
    height: 400px;
}

.model-subtitle {
    color: gray; text-align: center; margin-bottom: 30px;
}

.model-subtitle > i {
    color: white; margin-left: 10px;
}

.headline-wrapper {
    display: flex; flex-direction: row; justify-content: space-between;
}

h1, h2, h3, h4, h5 {
    font-family: SFPro;
    color: white;
}

p {
    margin: 20px;
    color: white;
    font-weight: 200;
    font-family: SFPro-Regular;
}

.secondary {
    color: gray !important;
}

html, body, #container {
    margin: 0;
    padding: 0;
    background-color: black;
}

.nav-link.active {
    background-color:  white !important;
    color: black !important;
}

hr {
    color: gray;
    opacity: 1;
    margin: 20px 14px;
}

a {
    color: white !important;
}

vr {
    background-color: gray;
    display: inline-block;
    margin: 0px 10px 0px 10px;
    width: 2px;
}

body { 
	max-width: 650px; 
	margin: 0 auto !important; 
	float: none !important; 
}

html {
    background-color: black !important;
}

header {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: #00000069;
    position: sticky;
    top: 0;
}

footer {
    max-width: 650px; 
	margin: 0 auto !important; 
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background-color: #00000069;
    position: fixed; 
    bottom: 0px; 
    width: 100%;
    height: 90px;
    display: flex;
}