@font-face {
  font-family: SFPro;
  src: url(./../res/bold.otf);
}

@font-face {
  font-family: SFPro-SemiBold;
  src: url(./../res/semibold.otf);
}

@font-face {
  font-family: SFPro-Regular;
  src: url(./../res/regular.otf);
}

* {
  font-family: SFPro;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
p {
  font-family: SFPro-Regular;
}
html,
body {
  background-color: var(--rwrk-primary-bg) !important;
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
}

.navbar {
  background-color: var(--rwrk-nav-bg) !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0px !important;
}

@media only screen and (max-width: 600px) {
  .splide {
    padding: 0px !important;
  }

  .splide__arrow {
    display: none !important;
  }
}

.splide {
  padding: 0px 3em;
}

.splide__list {
  align-items: flex-start;
}

@media screen and (min-width: 800px) {
  .slidewrapper {
    margin: 10px 0px;
  }
}

@media screen and (min-width: 800px) {
  .slideitem {
    height: 90px !important;
  }
}

.slideitem {
  width: 100%;
  height: 60px;
  object-fit: contain;
}

.splide__pagination__page.is-active {
  transform: scale(1.7) !important;
  margin: 0px 10px 0px 10px;
}

@media (prefers-color-scheme: dark) {
  .splide__pagination__page,
  .splide__pagination__page.is-active {
    background-color: #ccc !important;
  }
}

.splide__pagination__page,
.splide__pagination__page.is-active {
  background-color: black;
}
.splide__slide {
  text-align: center;
}

h5 {
  color: var(--rwrk-header-text-color) !important;
}

.footer-header {
  color: white !important;
}

.card-img-top {
  height: 500px;
  object-fit: cover;
}
.card-header {
  display: flex;
}

.card-title {
  margin: 20px;
}
.benefit-card-title {
  margin: 20px !important;
  width: 100%;
  text-align: left;
}

.card-text {
  margin: 20px !important;
  color: var(--rwrk-text-color) !important;
}

@media screen and (max-width: 768px) {
  #bgheader {
    height: 40vh;
  }
}

@media screen and (min-width: 769px) {
  #bgheader {
    height: calc(100vh + 60px);
  }
}

.accordion-item:first-of-type {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: calc(10px - 1px) !important;
  border-top-right-radius: calc(10px - 1px) !important;
}

.accordion-item:last-of-type {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.accordion-item:last-of-type .accordion-button {
  border-bottom-left-radius: calc(10px - 1px) !important;
  border-bottom-right-radius: calc(10px - 1px) !important;
}

.form-control {
  background-color: var(--rwrk-tertiary-bg) !important;
  border-radius: 10px !important;
}
#contactFormButton {
  background-color: var(--rwrk-secondary-bg) !important;
  border-radius: 10px !important;
}

#bgheader {
  background-image: url("./../res/splash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bgheader2 {
  background-image: url("./../res/splash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.card-header {
  display: flex;
}

#headertext {
  width: 50%;
}

@media (min-width: 768px) {
  #headertext {
    width: 20% !important;
  }
}

.circle {
  background: var(--rwrk-brown);
  border-radius: 50%;
  color: black;
  height: 50px;
  font-weight: bold;
  font-size: 1.2em;
  width: 50px;
  margin: 0 auto;
  text-align: center;
}

.circle i {
  margin-top: 32%;
}

.icon-container {
  display: flex;
  align-items: center;
  margin: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.i {
color: rgb(255, 255, 255);
}
.slanted {
  background-color: var(--rwrk-primary-bg) !important;
  margin-top: -70px;
  -webkit-clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 100%);
}

.feature {
  transform: translateY(-30px);
}

.slanted-2 {
  margin-top: 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  object-fit: cover;
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}

#summary {
  height: 1000px;
  width: 100%;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
}

.mt-n4 {
  margin-top: -1.5rem !important;
}

.accordion-button:not(.collapsed) {
  color: white !important;
  background-color: var(--rwrk-secondary-bg) !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.accordion-button:focus {
  border-color: black !important;
  box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 25%) !important;
}

.accordion-item {
  background-color: var(--rwrk-secondary-bg) !important;
}

.accordion-body {
  background-color: var(--rwrk-tertiary-bg) !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.border-0 {
  border: 0 !important;
}

.position-relative {
  position: relative !important;
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
}

.card {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  background-color: var(--rwrk-secondary-bg);
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.aboutus-card {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
}

.benefits-card {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
}

.site-footer p {
 color:rgb(255, 255, 255);
}

.card-icon {
  display: flex;
  align-items: center;
}

.card-body {
  padding: 0px 4rem 0px 4rem !important;
}

.nopadding {
  padding: 0px !important;
}

.card-footer {
  border: none !important;
  padding: 1rem 0rem 2rem 0rem !important;
}

button .card-footer:after {
  content: "";
}

button.collapsed .card-footer:after {
  content: "read more ...";
}

.member-profile {
  top: -50px;
  left: 0;
}
.text-center {
  text-align: center !important;
}
.w-100 {
  width: 100% !important;
}
.position-absolute {
  position: absolute !important;
}

.member-profile img {
  width: 100px;
  height: 100px;
}
.rounded-circle {
  border-radius: 50% !important;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}

.site-footer {
  background-color: var(--rwrk-secondary-bg);
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  /*color: #737373;*/
  color: white;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  /*color: #737373;*/
  color: white;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: var(--rwrk-brown);
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 13px;
}
.circle-icon {
  background: var(--rwrk-secondary-bg) !important;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 30px;
}
.social-icons a {
  background-color: #eceeef;
  color: white;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

.sitefooter {
  height: 300px;
  width: 100%;
  margin-top: -1px;
  background-color: var(--rwrk-secondary-bg);
}

.rounded {
  border-radius: 10px !important;
}

.accordion-body, .accordion-body li {
  font-family: SFPro-Regular;
}

.splide__track {
  box-sizing: border-box;
  border: white solid;
  border-width: 2px;
}